* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter,ui-sans-serif,system-ui,-apple-system;
}

//$shadow-card: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
//$shadow-button-primary: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
//$shadow-button-secondary: 0 1px 2px 0 rgba(0, 0, 0, .05);

$shadow-large: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
$shadow-small: 0 1px 2px 0 rgba(0, 0, 0, .05);

.scss-scope {
    button {
        font-family: inherit;
        font-size: 100%;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
        margin: 0;
        padding: 0;
        text-transform: none;
        background-color: transparent;
        background-image: none;
        cursor: pointer;
        border: none;
    }

    &.container {
        background: #fafafa;
        height: 100vh;
        width: 100vw;

        display: grid;
        place-items: center;
    }

    .card {
        max-width: 350px;
        box-shadow: $shadow-large;
        color: rgb(9, 9, 11);
        background: #fff;
        border: 1px solid hsl(240, 5.9%, 90%);
        border-radius: 12px;

        > .card__header {
            padding: 1.5rem;

            .card__title {
                font-weight: 600;
                font-size: 1.2rem;
            }
        }

        .card__body {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 0 1.5rem 1.5rem;

            .card__paragraph {
                font-size: 14px;
                line-height: 20px;
                color: rgb(113, 113, 122);
            }
        }

        .card__footer {
            padding: 0 1.5rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .button {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding: 8px 16px;
        border-radius: 6px;

        &.button--primary {
            box-shadow: $shadow-large;
            color: white;
            background-color: hsl(240, 5.9%, 10%);

            &:hover {
                background-color: hsla(240, 5.9%, 10%, 0.9);
            }
        }

        &.button--secondary {
            box-shadow: $shadow-small;
            background-color: transparent;
            border: 1px solid hsl(240, 5.9%, 90%);

            &:hover {
                background-color: hsl(240, 4.8%, 95.9%);
            }
        }
    }
}
